<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875365644265-v8iak4tiuv8vbsa083sh3snnmn2illel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875365644265-v8iak4tiuv8vbsa083sh3snnmn2illel</string>
	<key>API_KEY</key>
	<string>AIzaSyCQhL1D29LR5SGnbKqwTijLc6kF9JxQdxU</string>
	<key>GCM_SENDER_ID</key>
	<string>875365644265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>isadiliballi.OnMyMind</string>
	<key>PROJECT_ID</key>
	<string>onmymindios</string>
	<key>STORAGE_BUCKET</key>
	<string>onmymindios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:875365644265:ios:7f564a9b705e7ffb</string>
	<key>DATABASE_URL</key>
	<string>https://onmymindios.firebaseio.com</string>
</dict>
</plist>
